
.header{
    height: 140px;
    background: #FFD6B1;
    display: flex;
    justify-content: space-between;
}
.header_left{
    display: flex;
}
.header_nav{
    align-content: center;
    width: 462px;
    margin-left: 100px;
}
.header_ul{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    font-family: Taviraj;
}

.header_right{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header_search{
    display: flex;
    margin-right: 30px;
}
.header_search .search_text{
    border: 0;
    outline: 0;
    background: none;
    font-family: Taviraj;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}
.header_search:hover .search_text, .header_search .search_text:valid{
    background: #fff;
    width: 300px;
    padding: 10px 15px;
    border-radius: 30px;
}
.header_search .search_btn{
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
}
.header_login{
    font-size: 20px;
    font-family: Taviraj;
}
