
.header{
    height: 10vh;
    background: linear-gradient(to right, #ffde59 0%, #ff914d 100%);
    display: flex;
    justify-content: space-between;
}
.img_logo{
    height: 100%;
    width: 100%;
}
.header_left{
    display: flex;
    width: 50%;
}
.header_nav{
    align-content: center;
    width: 33vw;
    height: 100%;
    margin-left: 4vw;
}
.header_ul{
    display: flex;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25vw;
    font-family: Taviraj;
}
.header_ul li{
    width: 18%;
    text-align: center;
}
.header_ul li:hover{
    width: 20%;
    border-bottom: 2px black solid;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s linear ;
    letter-spacing: 2px;
}
.header_right{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
    padding: 0% 2%;
}

.header_role{
    font-size: 1.25vw;
    font-family: Taviraj;
}

.img_avatar{
    width: 2.5vw;
    height: 50%;
    border-radius: 50%;
}