
.header{
    height: 100px;
    background: linear-gradient(to right, #ffde59 0%, #ff914d 100%);
    display: flex;
    justify-content: space-between;
}
.img_logo{
    width: 100px;
}
.header_left{
    display: flex;
}
.header_nav{
    align-content: center;
    width: 600px;
    margin-left: 100px;
}
.header_ul{
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-family: Taviraj;
}
.header_ul li{
    width: 100px;
    text-align: center;
}
.header_ul li:hover{
    width: 130px;
    border-bottom: 2px black solid;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s linear ;
    letter-spacing: 2px;
}
.header_right{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header_login{
    font-size: 20px;
    font-family: Taviraj;
}

.img_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}