* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Taviraj;
    /* font-family: Arial, sans-serif; */
}

.PPM-container {
    display: flex;
    justify-content: center;
    height: 110vh;
    width: 100%;
}

.PPM-sidebar {
    width: 20%;
    background: linear-gradient(to Right, #ffde59 0%, #ff914d 100%);
}

.PPM-main-content {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    overflow: auto;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

thead tr{
    background: #ffde59;
    border-bottom: 3px solid #ff914d;
}

thead th {
    padding: 10px;
    text-align: left;
    color: #000000;
}

.report-record tr:hover{
    background: #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 2px solid #ff914d;
}

.email-info {
    display: flex;
    align-items: center;
}

.email-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.email-info div p {
    margin: 0;
}

.PPM-ViewMore{
    color: rgb(67, 64, 214);
    text-decoration: underline;
}

a {
    color: #FEAC62;
    text-decoration: none;
}

h2 {
    margin-bottom: 20px;
}

.button-on {
    background-color: orange;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-off {
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}
