* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
}

.hero-section {
  box-shadow: 0 0 4px 5px #FF974E;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 18px 21px 50px;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery-row {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery-item {
  width: 100%;
  aspect-ratio: 1.25;
  object-fit: cover;
}

.view-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-more-button {
  background-color: #FF974E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.view-more-button:hover {
  background-color: #e0873e;
}

.section-title {
  margin-top: 54px;
  width: 200px;
  max-width: 100%;
  color: #000;
  font-family: Taviraj, sans-serif;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 3px solid #FF974E;
}

@media (max-width: 991px) {
  .main-container {
    padding: 20px;
  }

  .content-wrapper {
    margin-top: 40px;
  }

  .hero-section {
    padding-left: 20px;
  }

  .image-gallery,
  .gallery-row {
    width: 100%;
  }

  .gallery-row {
    flex-direction: column;
  }

  .gallery-item {
    margin-top: 20px;
  }

  .section-title {
    padding: 0 20px;
  }
}
