.profile-contain{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
    font-family: Taviraj;
}
.profile-left{
    width: 15%;
    display: flex;
}
.profile-right{
    width: 85%;
    display: flex;
    justify-content: center;
}
.box-profile{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.profile-head{
    width: 100%;
    height: 18%;
    padding-left: 2%;
    line-height: 1.8;
    font-size: 2vw;
    font-weight: bold;
    border-bottom: 4px solid #ff914da1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-head p{
    font-size: 1.2vw;
    font-weight: normal;
}
.profile-content{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    
}
.profile-info{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 4px solid #ffde5989;
}
.box-info{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-info label{
    width: 25%;
    text-align: end;
    font-weight: 600;
}
.info-input{
    display: inline-flex;
    align-items: center;
    width: 60%;
    outline: none;
}
.info-input svg {
    margin-left: 8px;
}
.info-radio{
    display: flex;
    justify-content: space-between;
}
.info-radio p{
    width: 40%;
}
.info-radio p input{
    width: 25%;
}
.profile-img{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-img{
    width: 55%;
    height: 36%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffde59 0%, #ff914d 100%);
}
.avatar-img{
    width: 96%;
    height: 96%;
    border-radius: 50%;
}
.avatar-button{
    height: 50%;
    border-radius: 40px;
}
.avatar-button:hover{
    width: 50%;
    letter-spacing: 2px;
    border-right: 2px solid rgb(255, 115, 0);
    border-bottom: 2px solid rgb(255, 115, 0);
    box-shadow: 3px 3px 5px 1px #ff914d;
    transition: 0.3s all ease-in;
    background: linear-gradient(to right, #ffde59 0%, #ff914d 100%);
}
.box-button{
    height: 15%;
}
.box-submit{
    width: 100%;
}
.update-btn{
    width: 30%;
    border-radius: 40px;
}
.update-btn:hover{
    
    letter-spacing: 2px;
    border-right: 2px solid rgb(255, 115, 0);
    border-bottom: 2px solid rgb(255, 115, 0);
    box-shadow: 3px 3px 5px 1px #ff914d;
    transition: 0.3s all ease-in;
    background: linear-gradient(to right, #ffde59 0%, #ff914d 100%);
}
.important{
    color: red;
}