/* SearchPageStyle.css */
.search-container {
  background-color: #fff;
  display: flex;
  width: 100%;
 
}

.search-content-wrapper {
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-top: 100px;
}



.search-content {
  display: flex;
  flex-direction: column;
}

.section-title {
  width: fit-content; 
  color: #000;
  font-family: Taviraj, sans-serif;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 3px solid #FF974E; 
}

@media (max-width: 991px) {
  .search-container {
      padding: 20px;
  }

  .search-content-wrapper {
      margin-top: 40px;
  }

  .section-title {
      padding: 13px 25px;
  }

  .search-page-content {
      flex-direction: column;
  }
}
