.product-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-PostInform{
  box-shadow: 0 0 10px 6px rgba(254, 172, 98, 0.5);
  background-color: #fff;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1220px;
  padding: 20px;
  border: 3px solid rgba(254, 174, 102, 1);
}

.product-border {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-content {
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 95%;
}

.image-column {
  display: flex;
  width: 30%;
  height: 100%;
  
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
  max-width: none !important; /* Loại bỏ max-width */
}

.info-column {
  display: flex;
  flex-direction: column;
  width: 68%;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  line-height: 1.5;
  height: 100%;
  width: 100%;
}

.PostInform-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
}

.search-special-id{
  width: 30%;
  
  position: relative;
}
.input-special-id{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 4%;
  font-size: 1vw;
  outline: none;
  border: 2px solid #ff914d;
}
.search-special-id p{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  transition: 0.5s ease;
}

.input-special-id:focus + p,
.input-special-id:valid + p{
  top: -4%;
  height: 50%;
  font-size: 1vw;
  background-color: #ffcc00;
  color: black;
  border-radius: 20px;
  text-align: center;
}

.special-box-symbol-img{
  position: absolute;
  height: 100%;
  width: 20%;
  border-radius: 12px;
  background: linear-gradient(to right, #ffde59 0%, #ff914d 100%);
  display: flex;
  justify-content: center; 
  align-items: center;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
}
.special-symbol-img{
  height: 90%;
}

.product-name {
 
  font: 30px Taviraj, sans-serif;
  
  width: 70%;
}

.product-details {
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: space-between;
  
}

.description-label,
.category-label{
  font-family: Taviraj, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff; /* Background màu trắng */
  border-radius: 50px;
  width: 100%;
  height: 3vh; /* Thu nhỏ chiều cao */
  display: flex;
}

.price-label,
.address-label-select1, .address-label-select2,.address-label-select3 {
  font-family: Taviraj, sans-serif;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff; /* Background màu trắng */
  border-radius: 50px;
  width: 100%;
  height: 3vh; /* Thu nhỏ chiều cao */
  display: flex;
  align-items: center;
  justify-content: center;
}

.address-label-select1 { 
  border: 2px solid #FFDE59; /* Màu nền giữ nguyên */
  height: 20%;  
}

.address-label-select2 { 
  border: 2px solid #FFB252; /* Màu nền giữ nguyên */
  height: 20%;  
}

.address-label-select3 { 
  border: 2px solid #FF7A00; /* Màu nền giữ nguyên */
  height: 20%;  
}

.product-description {
  width: 68%;
  
}

.address-fields { 
  flex-direction: column;
  height: 100%;
  width: 30%;
  
  display: flex;
  justify-content: space-evenly;

}

.PostInform-button{
  width: 68%;
  height: 20%;
  display: flex;
  /*margin-top: 3%;*/
  justify-content: center;
  align-items: center;
}

.PostInform-trade-button {
  border-radius: 30px;
  box-shadow: 0 0 5px 2px #fec48f;
  border: 2px solid #fff;
  background-color: #ffa657;
  width: 50%;
  height: 50%;
  font-weight: 700;
  
}

.PostInform-trade-button {
  transition: transform 0.3s ease;
}

.PostInform-trade-button:hover {
  transform: scale(1.05); /* Tăng kích thước khi hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Thêm bóng để nổi bật */
}