
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Taviraj;
    margin: 33px;
}
.login_left{
    margin: 0px 50px;

}
.login_div_1{
    width: 260px;
    height: 260px;
    margin-left: 80px;
    background-color: #ffde59;
    border: 2px black solid;
    transform: rotate(14deg);
    position: relative;
}
.login_img_1{
    padding: 10px;
    width: 260px;
    height: 200px;
    top: 50px;
}
.login_div_2{
    position: relative;
    margin-top: -60px;
    margin-left: 10px;
    width: 300px;
    height: 270px;
    background-color: #FFB252;
    border: 2px black solid;
    transform: rotate(-10deg);
}
.login_img_2{
    padding: 15px;
    width: 300px;
    height: 210px;
}
.login_div_3{
    position: relative;
    margin-top: -50px;
    margin-left: 10px;
    width: 350px;
    height: 370px;
    background-color: #FF974E;
    border: 2px black solid;
    transform: rotate(9deg);
}
.login_img_3{
    padding: 20px;
    width: 350px;
    height: 320px;
}
.login_right{
    width: 710px;
    height: 750px;
    background: linear-gradient(to top, #ffde59 0%, #ff914d 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px black solid;
    margin: 0px 50px;
}
.login_img{
    padding: 30px;
    width: 710px;
    height: 550px;
}
.login_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    border: #000000 2px solid;
    width: 450px;
    height: 60px;
    margin: 0px 0px 30px 0px;
    box-shadow: 3px 4px 4px 1px #ff7b00e7;
}
.login_btn:hover{
    background-color: #ff8000;
    color:white;
    box-shadow: 3px 4px 4px 1px white;
    transition: all 0.3s linear;
}
.login_btn:hover .icon{
    color:white;
}
.login_text{
    margin: 30px;
}
.icon{
    margin: 2px;
    text-align: center;
    font-size: 25px;
    color: black;
}
.login_btn p{
    margin:0px 10px;
    text-align: center;
}

hr{
    border-top: 2px black solid;
    width: 400px;
}