.related-goods-containersss {
    width: 100vw;
    max-width: 1220px;
    align-self: center;
}

.related-goods-title {
    color: #000;
    text-decoration: underline;
    margin-top: 20px;
    font: 20px Taviraj, sans-serif;
    text-align: left;
}

.related-goods-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.related-goods-grid {
    display: flex;
    justify-content: space-between; /* Đảm bảo khoảng cách giữa các sản phẩm */
    align-items: center;
    width: 100%; /* Đảm bảo sử dụng toàn bộ chiều rộng */
}

.product-card-wrapper {
    box-shadow: 0 0 5px 4px rgba(119, 119, 119, 0.25);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 15px; /* Tăng kích thước padding để sản phẩm lớn hơn */
    width: 206px; /* Đảm bảo mỗi sản phẩm có chiều rộng 206px */
    height: 100%; /* Đảm bảo mỗi sản phẩm có chiều cao 308px */
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */

}

.product-card-wrapper:hover {
  transform: translateY(-10px); /* Di chuyển sản phẩm lên trên khi hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Thêm bóng để nổi bật sản phẩm khi hover */
}

.product-image-small {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%; /* Đảm bảo ảnh chiếm 60% chiều cao sản phẩm */
}

.product-type {
    font-family: Taviraj, sans-serif;
    align-self: center;
    margin-top: 10px;
    font-size: xx-large;
}

.product-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 206px; /* Đảm bảo mỗi cột sản phẩm có chiều rộng 206px */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
